<div class="container">

  <!-- SOL PANEL -->
  <div class="left-panel">
    <div class="logo" (click)="goHome()">Maratonic</div>

    <h1>Hoş Geldin!</h1>
    <p>Tekrar giriş yap ve Maratonic deneyimine devam et.</p>

    

  </div>

  <!-- SAĞ PANEL -->
  <div class="right-panel">
    

    <h2 class="title">Giriş Yap</h2>

    <form [formGroup]="form" (ngSubmit)="submit()" class="form-area">

      <label>E-posta</label>
      <input type="email" formControlName="email" placeholder="E-posta adresiniz" />

      <label>Şifre</label>
      <input type="password" formControlName="password" placeholder="Şifreniz" />

      <div class="extra-row">
        <label class="check">
          <input type="checkbox" />
          <span>Beni hatırla</span>
        </label>

        <a class="forgot">Şifremi Unuttum</a>
      </div>

      <button type="submit" class="login-btn">
        {{ loading ? "Yükleniyor..." : "Giriş Yap" }}
      </button>
      <div class="cta-or-box">
    <p>veya</p>
    <a href="/register"><button class="cta-register" >Hemen Kaydol</button></a>
  </div>

      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

    </form>

    <div class="social-icons">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>

  </div>

</div>