<div class="container">

  <!-- LEFT PANEL -->
  <div class="left-panel">
    <div class="logo" (click)="goHome()">Maratonic</div>

    <h1>Welcome Back!</h1>
    <p>Log in to continue your Maratonic experience.</p>
  </div>

  <!-- RIGHT PANEL -->
  <div class="right-panel">

    <h2 class="title">Sign In</h2>

    <form [formGroup]="form" (ngSubmit)="submit()" class="form-area">

      <label>Email</label>
      <input type="email" formControlName="email" placeholder="Enter your email" />

      <label>Password</label>
      <input type="password" formControlName="password" placeholder="Enter your password" />

      <div class="extra-row">
        <label class="check">
          <input type="checkbox" />
          <span>Remember me</span>
        </label>

        <a class="forgot">Forgot Password?</a>
      </div>

      <button type="submit" class="login-btn">
        {{ loading ? "Loading..." : "Sign In" }}
      </button>

      <!-- CTA BUTTON -->
      <div class="cta-or-box">
        <p>or</p>
        <a href="/register">
          <button class="cta-register" type="button">Create an Account</button>
        </a>
      </div>

      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

    </form>

    <div class="social-icons">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>

  </div>

</div>
