<div class="login-wrapper">
  <div class="login-card">
    <h2>Login</h2>

    <form (ngSubmit)="login()">
      <!-- USERNAME -->
      <div class="input-group">
        <input 
          type="text" 
          placeholder="Username"
          [(ngModel)]="username"
          name="username"
          required
        />
        <i class="fa fa-user icon"></i>
      </div>

      <!-- PASSWORD -->
      <div class="input-group">
        <input 
          type="password" 
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
          required
        />
        <i class="fa fa-lock icon"></i>
      </div>

      <div class="options">
        <label>
          <input type="checkbox" /> Remember me
        </label>
        <a class="forgot">Forgot password?</a>
      </div>

      <button type="submit" class="login-btn">Login</button>

      <p class="register-text">
        Don’t have an account?
        <a routerLink="/register">Register</a>
      </p>
    </form>
  </div>
</div>
