
<div class="toast" 
     [class.show]="showToast"
     [class.success]="toastType === 'success'"
     [class.error]="toastType === 'error'">
  {{ toastMessage }}
</div>



<div class="container">



  <!-- LEFT PANEL -->
  <div class="left-panel">

    <div class="logo" (click)="goHome()">Maratonic</div>

    <div class="form-wrapper">

      <h2 class="title">Sign Up</h2>

      <form [formGroup]="form" (ngSubmit)="submit()" class="form-area">

        <div class="row-2">
          <div>
            <label>First Name</label>
            <input type="text" formControlName="firstName" placeholder="Enter your first name" />
          </div>

          <div>
            <label>Last Name</label>
            <input type="text" formControlName="lastName" placeholder="Enter your last name" />
          </div>
        </div>

        <label>Email</label>
        <input type="email" formControlName="email" placeholder="Enter your email" />

        <label>Password</label>
        <input type="password" formControlName="password" placeholder="Enter your password" />

        <label>Confirm Password</label>
        <input type="password" formControlName="confirmPassword" placeholder="Re-enter your password" />

        <button type="submit" class="login-btn">
          {{ loading ? "Creating..." : "Create Account" }}
        </button>

        <div class="cta-or-box">
          <p>Already have an account?</p>
          <a routerLink="/login"><button class="cta-register">Log In</button></a>
        </div>

      </form>

    </div>

  </div>

  <!-- RIGHT PANEL -->
  <div class="right-panel">
    <h1>Join Us!</h1>
    <p>Become a part of Maratonic to track your race experiences, find your photos, and explore the running world.</p>
  </div>

</div>
