.navbar {
  background: #000103;
  padding: 0;
  height: 64px;
  display: flex;
  justify-content: center; /* her şey ortalanır */
  border-bottom: 2px solid #06566733;
}

.nav-content {
  width: 100%;
  max-width: 1400px; /* merkez genişlik */
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  justify-content: space-between; /* sol - orta - sağ */
  align-items: center;
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

/* Middle Menu */
.nav-links {
  display: flex;
  gap: 22px;
  list-style: none;
  margin-left: auto; /* sol blok ile arayı kapatır */
  margin-right: auto; /* sağ blok ile ortalar */
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-links li a:hover {
  color: #26a08c;
}

/* Right side */
.nav-right {
  display: flex;
  gap: 14px;
  align-items: center;
}

.btn {
  padding: 7px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.login-btn {
  border: 2px solid white;
  color: white;
  background: none;
}

.login-btn:hover {
  background: white;
  color: #027361;
}

.signup-btn {
  background: #027361;
  color: white;
}

.signup-btn:hover {
  background: #26a08c;
}
