<nav class="navbar">
  <div class="nav-content">

    <a routerLink="/" class="logo">Maratonic</a>

    <ul class="nav-links">
      <li><a routerLink="/races"><i class="fas fa-running"></i> Races</a></li>
      <li><a routerLink="/calendar"><i class="fas fa-calendar-day"></i> Calendar</a></li>
      <li><a routerLink="/results"><i class="fas fa-stopwatch"></i> Results</a></li>
      <li><a routerLink="/training"><i class="fas fa-dumbbell"></i> Training</a></li>
      <li><a routerLink="/about"><i class="fas fa-info-circle"></i> About</a></li>
    </ul>

    <div class="nav-right">
      <!-- Profil yalnızca giriş yapınca -->
      <a *ngIf="isLoggedIn" routerLink="/profile" class="profile-btn">
        <i class="fas fa-user"></i> Profile
      </a>

      <!-- Login & Register -->
      <ng-container *ngIf="!isLoggedIn">
        <a routerLink="/login" class="btn login-btn">Login</a>
        <a routerLink="/register" class="btn signup-btn">Sign Up</a>
      </ng-container>

      <!-- Logout -->
      <button *ngIf="isLoggedIn" class="btn login-btn" (click)="logout()">
        Logout
      </button>
    </div>

  </div>
</nav>
